.button {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
    width: 90%;
    color: $colorDarkGray;
    text-transform: uppercase;
    background: transparent;
    font-size: 1.25rem;
    line-height: 1.3rem;
    font-weight: 700;
    border-radius: 2px;
    border: solid 1px $colorDarkGray;

    &:hover {
        transition: all 0.3s ease 0s;
        border: solid 1px $colorDarkGray;
        box-shadow: 0px 0px 1px 2px rgba($color: $colorDarkGray, $alpha: 0.2);

    }

    &:disabled {
        cursor: not-allowed;
        color: $colorGray;
        border-color: $colorGray;
        transition: all 0.3s ease 0s;
    }

}

// *** Media Queries ***
@include mq (large) {
    .button {
        width: auto;
        padding: 10px 40px;
        margin: 10px 5px;
    }
}