html,
body {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

body {
    display: flex;
    flex-direction: column;
}

.icon {
    padding-right: 5px;
}

.hr {
    background: linear-gradient(to right, transparent, rgba($color: $colorGray, $alpha: 0.3), transparent);
    width: 100%;
    height: 1px;
    border: 0;
}

.hr__text {
    max-width: 90%;
    line-height: 1rem;
    text-align: center;
    position: relative;
    border: 0;
    opacity: 1;

    &:before {
        content: '';
        background: linear-gradient(to right, transparent, $colorDarkGray, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }

    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        border-radius: 3px;
        text-transform: uppercase;
        padding: 0.2rem 0.5rem;
        font-size: 1.25rem;
        line-height: 1.25rem;
        color: $colorWhite;
        background-color: $colorDarkGray;
    }
}

.container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    text-align: center;

    @include mq(small) {
        max-width: 540px;
    }

    @include mq(medium) {
        max-width: 720px;
    }

    @include mq(large) {
        max-width: 960px;
    }

    @include mq(xlarge) {
        max-width: 1140px;
    }
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}