// Fonts:
$fontBase: ('Roboto', sans-serif);
$fontAccent: ('Oswald', sans-serif);

// *** COLORS ***
$colorWhite:#FFFFFF;
$colorDirtyWhite:#E8E6CE;
$colorBlack:#000000;

$colorGray: #808080;
$colorDarkGray: #333333;
$colorPearl: #F9F8FD;
$colorSilver: #6e6d7a;

// *** LOGO ***
$logo: "../images/logo.png";